* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.burger {
    display: none;
}

input {
    display: none;
}

@media screen and (max-width:576px) {
    .nav__list {
        display: block;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        position: absolute;
        top: 0px;
        left: 0;
        padding: 20px;
        transform: translateY(-120%);
        transition: .6s ease;
    }
    .nav__list li {
        margin-bottom: 20px;
    }
    .nav__list li a {
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }
    .nav__btn {
        position: absolute;
        right: 0;
        top: 0;
    }
    input:checked~.nav .nav__list {
        transform: translateY(0);
    }
    input:checked~.nav .nav-open {
        display: none;
    }
    .burger {
        display: block;
    }
}